.ball {
  background-color: #C0E1CE;
  animation: ball 2s linear infinite;
}

.ball1 {
  height: 50px;
  width: 50px;
  background-color: #6a8372;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
  animation: ball1 2s linear infinite;
}

@keyframes ball1 {
  from {transform: translateY(0) scale(1,.5);transform-origin: bottom;}
  5%   {transform: translateY(0) scale(.5,1);}
  45%  {transform: translateY(-250px) scale(.5,1);background-color: #6a8372;}
  50%  {transform: translateY(-250px) scale(1,.5);transform-origin: top;background-color: #C0E1CE;}
  55%  {transform: translateY(-250px) scale(.5,1);}
  95%  {transform: translateY(0) scale(.5,1);background-color: #C0E1CE;}
  to   {transform: translateY(0) scale(1,.5);transform-origin: bottom;}
}

@keyframes ball {
  0%    {}
  45%   {background-color: #C0E1CE;}
  50%   {background-color: #6a8372;}
  95%   {background-color: #6a8372;}
  100%  {}
}
